[Unit]
Description=RabbitMQServer Service
After=network-online.target rabbitmq-server.service mysqld.service NetworkManager.service networking.service apache2.service

[Service]
Type=simple
ExecStart=/home/test1/git/490/backend/testRabbitMQServer.php
Restart=on-failure

[Install]
WantedBy=multi-user.target
